.venv
.env
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
__pycache__/
calhacks2023-1-firebase-adminsdk-damlx-cff152cd76.json
